@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-display: 'PT Serif', sans-serif;
  --font-footer: 'Montserrat', sans-serif;

  --color-gray-1: #333333;
  --color-gray-2: rgb(79, 79, 79, 0.7);
  --color-white: #ffffff;

  --text-xs: 1rem;
  --text-sm: 1.4rem;
  --text-md: 2rem;
  --text-lg: 3rem;
  --text-lgst: 4rem;

  --space-sm: 0.5rem;
  --space-md: 1.5rem;
  --space-lg: 3rem;

  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

body {
  max-width: 1080px;
  margin: 3rem auto;
  font-family: var(--font-primary);
  background-color: var(--color-white);
  color: var(--color-gray-1);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(8, [col-start] minmax(6rem, 1fr) [col-end]);
  grid-row-gap: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  grid-row: 1 / 2;
  grid-column: col-start 2 / col-end 7;
}

.header__title {
  font-family: var(--font-display);
  font-size: var(--text-lg);
  font-weight: bold;
}

.header__overview {
  width: 300px;
}

.header__overview h5 {
  font-size: var(--text-sm);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__overview p {
  font-size: var(--text-sm);
  font-weight: 400;
}

.team-page-main {
  grid-row: 2 / 3;
  grid-column: col-start 2 / col-end 7;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 6vw);
  grid-row-gap: 5rem;
  grid-column-gap: 7rem;
}

.gallery__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 0.5rem;
}

.gallery__item--1 {
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
}

.gallery__item--2 {
  grid-row: 2 / span 3;
  grid-column: 4 / span 3;
}

.gallery__item--3 {
  grid-row: 1 / span 3;
  grid-column: 7 / span 3;
}

.gallery__item--4 {
  grid-row: 5 / span 3;
  grid-column: 1 / span 3;
}

.gallery__item--5 {
  grid-row: 6 / span 3;
  grid-column: 4 / span 3;
}

.gallery__item--6 {
  grid-row: 5 / span 3;
  grid-column: 7 / span 3;
}

.gallery__image {
  display: flex;
}

.gallery__title {
  text-transform: uppercase;
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1.2rem;
  width: 35px;
  margin-top: 9px;
}

.gallery__title > p {
  transform: rotate(90deg);
  white-space: nowrap;
}

.gallery__name {
  font-size: 1.5rem;
  font-weight: 600;
}

.copyright {
  font-family: var(--font-footer);
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 8rem;
  text-align: center;
}

/* 768px or less */
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: col-start 2 / col-end 7;
  }

  .header__title {
    margin-bottom: var(--space-lg);
  }

  .header__overview {
    width: 100%;
  }
}

/* 650px or less */
@media only screen and (max-width: 550px) {
  .container {
    margin: 2rem 5rem;
  }

  .header {
    grid-column: col-start 1 / col-end 7;
  }

  .team-page-main {
    grid-column: col-start 1 / col-end 7;
  }

  .header__overview {
    width: 100%;
  }

  .gallery-container {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(13, 6vw);
    grid-row-gap: 6rem;
    grid-column-gap: 8rem;
  }

  .gallery__item--3 {
    grid-row: 5 / span 3;
    grid-column: 1 / span 3;
  }

  .gallery__item--4 {
    grid-row: 6 / span 3;
    grid-column: 4 / span 3;
  }

  .gallery__item--5 {
    grid-row: 9 / span 3;
    grid-column: 1 / span 3;
  }

  .gallery__item--6 {
    grid-row: 10 / span 3;
    grid-column: 4 / span 3;
  }
}
/* 480px or less */

@media only screen and (max-width: 480px) {
  .container {
    margin: 2rem;
  }
}
